.spam_tweet {
    border: 1px solid black !important;
    background-color: #ddeef6 !important;
}

.spam_tweet_hide {
	font-size:4px;	
    border: 1px solid black !important;
    background-color: #ddeef6 !important;
}
